    <header>
      <!-- The <i> tag below includes the lizzard hand icon from Font Awesome -->
      <a href="#"><h1 class="site-title"><i class="far fa-flag"></i>Drop'N</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem context">There are currently</li>
          <li class="navitem counter">{{numEvents}}</li>
          <li class="navitem context"> events happening on campus!</li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
    </header>
