    <aside class= "side-bar">
      <ul class="side-list">
	<li class="side-item">Sports</li>
	<li id="sports-button" class="side-bar-button"></li>
	<li class="side-item">Food</li>
	<li id="food-button" class="side-bar-button"></li>
	<li class="side-item">Study</li>
	<li id="study-button" class="side-bar-button"></li>
	<li class="side-item">Chill</li>
	<li id="chill-button" class="side-bar-button"></li>
	<li class="side-item">Party</li>
	<li id="party-button" class="side-bar-button"></li>
	<li class="side-item">Other</li>
	<li id="other-button" class="side-bar-button"></li>
	<li class="side-item clear">Clear</li>
    </aside>
