<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>DROP'N</title>


    <link rel="stylesheet" href="/style.css" media="screen">

    <!-- This script incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" charset="utf-8" defer></script>
   
    <script src="/eventCardTemplate.js" charset="utf-8" defer></script>
    
    <script src="/index.js" charset="utf-8" defer></script>

  </head>

  <body>
  {{{body}}}
  </body>
</html>
