/* Ew CSS is gross*/ 
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  background-color: #FF7A01;
  color: Black;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
  height: 40px;
  box-shadow: 0px 10px 18px #888888;
}

.navlist {
  margin: 0 0  0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
  padding-top:10px;
}


.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}
.main-container{
  display:flex;
}
.side-bar{
  flex:1;
  display:flex;
  flex-direction: column;
  background-color:#00ACEE;
  color:white;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  border-color:white;
}
.side-list{
  display: block;
}
.side-item{
  display:inline-block;
  margin: 30px 0px 0px 0px;
  font-size:16px;
  width:50%;
}
.side-bar-button{
  display: inline-block;
  background-color: white;
  height:10px;
  width:10px;
  border-radius: 50%;
  margin:0px 0px 0px 20px;
}
.side-bar-button:hover{
  background-color:#afafaf
}
.side-bar-button.active{
background-color:#90FB89;  
}

.event-container {
  margin: 50px 10%;
  display: flex;
  flex-direction: column; 
  flex:5;
}
@media screen and (min-width:1000px){
#map{
position:relative;
min-width:1000px;
width:90%;
display:block;
margin-left:8%;
}
}

#map{
position:relative;
width:500px;
display:block;
margin-left:8%;
}
.image{
width:80%;
}

#legend{
display: block;
font-color:black;
font-size:14;
border: solid  2px black;
width:76%;
}
.legend-item{
display: block;
padding: 10px;
}

.marker{
display: inline-block;
background-color: #FF7A01;
border-radius:50%;
border:none;
width: 16px;
height: 16px;
margin-left: 20px;
}
.marker.active{
 border: 1px solid black;
}

.marker:hover{
  background-color:#00ACEE; 
}

.event {
  display: block;
  margin: 2px;
  margin-bottom:20px;
  padding: 5px;
  border: 2px solid Black;
  background-color:white;
  height:25%;
  border-radius: 15px;
}
.event-title{
  padding: 0px 0px 0px 0px;
  width: 70%;
  height: 16px;
  font-weight: Bold;
  color:black;
  text-align: center;
  position:relative;
  bottom:25px;
}
.edit-icon{
 display: inline-block;
 position:relative;
  left:98%;
  bottom:90%;
}
.event-content{
  position: relative;
  display: flex;
  bottom:25px;
}
.event-description{
  flex: 3 150px;
  background-color:#eee;
  border: 2px solid black;
  text-align: center;
  font-size:16px;
  height:150px;
  border-radius:15px;
}
.event-overview{
  flex: 1 50px;
  display:block;
  font-size:16px;
}
.overview-item{
  display:block;
  padding-bottom:5px;
}
.go-btn{
  position:relative;
  width:150px;
  padding 0px;
  bottom:10px;
  border-radius:15px;
  background-color:#90FB89;
  color:white;
  font-size:30px;
  text-align:center;
}
#create-event-button{
  position:fixed;
  font-size:18px;
  right:5%;
  bottom:40px;
  height:40px;
  width:40px;
  color:black;
  background-color:#00ACEE; 
  border:none;
  border-radius:25%;
}
#create-event-button:hover{
  background-color:#90FB89;
}
#create-event-button:focus{
  height:38px;
  width:38px;
  border: 2px solid #afafaf 
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3010;
  overflow: scroll;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}
.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.event-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.event-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.event-input-element input,
.event-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}
.event-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}
>>.drop-down{

}
.drop-btn{
	border:none;
	color:white;
  	background-color: rgba(0, 0, 0, 0.65);
	border-radius: 5px;
	font-size:20px;

}
.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-btn:hover{
  background-color:white;
  color:black;
}
.drop-down:hover .drop-content{
  display: block;
}
.drop-content p:hover{
 background-color:#aaa;
 cursor:pointer;
}
.marker.MU{
position:absolute;
width: 8px;
height:8px;
right: 228px;
bottom: 320px;
z-index:2000;
}
.marker.SEC{
position:absolute;
width: 8px;
height:8px;
right: 202px;
bottom: 320px;
z-index:2000;
}
.marker.library{
position:absolute;
width: 8px;
height:8px;
right: 182px;
bottom: 325px;
z-index:2000;
}
.marker.dixon{
position:absolute;
width: 8px;
height:8px;
right: 225px;
bottom: 280px;
z-index:2000;
}
.marker.reeser{
position:absolute;
width: 8px;
height:8px;
right: 264px;
bottom: 200px;
z-index:2000;
}
.marker.KEC{
position:absolute;
width: 8px;
height:8px;
right: 222px;
bottom: 373px;
z-index:2000;
}
.marker.McNary{
position:absolute;
width: 8px;
height:8px;
right: 117px;
bottom: 302px;
z-index:2000;
}
.marker.Arnold{
position:absolute;
width: 8px;
height:8px;
right: 207px;
bottom: 224px;
z-index:2000;
}
.marker.West{
position:absolute;
width: 8px;
height:8px;
right: 305px;
bottom: 300px;
z-index:2000;
}
.marker.Bings{
position:absolute;
width: 8px;
height:8px;
right: 250px;
bottom: 302px;
z-index:2000;
}
.marker.IM{
position:absolute;
width: 8px;
height:8px;
right: 259px;
bottom: 272px;
z-index:2000;
}
.marker.Gill{
position:absolute;
width: 8px;
height:8px;
right: 255px;
bottom: 238px;
z-index:2000;
}
@media screen and (min-width:1000px){
.go-btn{
  position:relative;
  width:150px;
  padding 0px;
  border-radius:15px;
  background-color:#90FB89;
  color:white;
  font-size:30px;
  text-align:center;
}

.marker.MU{
position:absolute;
width: 16px;
height:16px;
right: 45.9%;
bottom: 71%;
z-index:2000;
}
.marker.SEC{
position:absolute;
width: 16px;
height:16px;
right: 40.75%;
bottom: 71%;
z-index:2000;
}
.marker.library{
position:absolute;
width: 16px;
height:16px;
right: 36.5%;
bottom: 72%;
z-index:2000;
}
.marker.dixon{
position:absolute;
width: 16px;
height:16px;
right: 45%;
bottom: 60%;
z-index:2000;
}
.marker.reeser{
position:absolute;
width: 16px;
height:16px;
right:53%;
bottom: 38%;
z-index:2000;
}
.marker.KEC{
position:absolute;
width: 16px;
height:16px;
right: 45%;
bottom: 85%;
z-index:2000;
}
.marker.McNary{
position:absolute;
width: 16px;
height:16px;
right: 23.7%;
bottom:65%;
z-index:2000;
}
.marker.West{
position:absolute;
width: 16px;
height:16px;
right: 61%;
bottom: 64.5%;
z-index:2000;
}
.marker.Arnold{
position:absolute;
width: 16px;
height:16px;
right: 41.5%;
bottom: 43.2%;
z-index:2000;
}
.marker.Bings{
position:absolute;
width: 16px;
height:16px;
right: 50.25%;
bottom: 64.5%;
z-index:2000;
}
.marker.IM{
position:absolute;
width: 16px;
height:16px;
right: 52%;
bottom: 57%;
z-index:2000;
}
.marker.Gill{
position:absolute;
width: 16px;
height:16px;
right: 51%;
bottom: 47%;
z-index:2000;
}
}
.hidden{
display:none;
}

